#contact {
    background-color: var(--background--color);
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact-icon {
    font-size: 2rem;
}

.contact-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.contact-link {
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.contact-link:hover {
    opacity: 0.7;
    text-decoration: underline;
    text-underline-offset: 7px;
}

/* Tablets */

@media (max-width: 1024px) {
    #contact-title {
        font-size: 2.5rem;
    }

    .contact-text {
        font-size: 1.25rem;
    }

    .contact-link {
        font-size: 1.25rem;
    }

    .contact-container {
        gap: 10px;
    }

    .contact-icon {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    #contact {
        padding: 20px;
    }

    #contact-title {
        font-size: 2rem;
    }

    .contact-text {
        font-size: 1rem;
    }

    .contact-link {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .contact-icon {
        font-size: 1rem;
    }

    .contact-text {
        font-size: 0.8rem;
    }

    .contact-link {
        font-size: 0.8rem;
    }

    #contact-title {
        font-size: 1.5rem;
    }

    .contact-container {
        gap: 5px;
    }
}
