header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-title-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

#header-title {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--black);
}

.header-title-container .header-icon {
    font-size: 2rem;
}

.header-title-container #header-title {
    font-size: rem;
    font-weight: 600;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-nav a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.header-nav a:hover {
    opacity: 0.7;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header-nav .header-link.active {
    color: var(--black);
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Mobile Navigation */

.header-menu {
    display: none;
}

@media (max-width: 768px) {
    .header-menu {
        display: block;
    }

    .header-nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        outline: none;
    }

    .hamburger-menu .hamburger-icon {
        font-size: 2rem;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--black);
        top: 100%;
        left: 0;
        right: 0;
        padding: 20px;
        gap: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu a {
        color: var(--white);
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        width: 100%;
        text-align: center;
    }

    .mobile-menu a.active {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}
