section#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    text-align: center;
}

#home-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/washing-car.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.5);
}

.home-content {
    z-index: 1;
}

.home-content h1,
.home-content p {
    color: #fff;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 600;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 20px;
}

.home-content .home-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.home-content .home-buttons button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-size: 1.5rem;
}

.home-content button:hover {
    opacity: 0.7;
}

.home-content .home-buttons button a {
    color: var(--black);
    text-decoration: none;
}

@media (max-width: 768px) {
    #home {
        padding: 20px;
    }

    .home-content h1 {
        font-size: 2rem;
    }

    .home-content p {
        font-size: 1rem;
    }

    .home-content .home-buttons button {
        font-size: 1rem;
    }
}
