@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --background--color: #f5f5f5;
    --white: #f5f5f5;
    --black: #121212;
    --star-color: #f1c40f;
}

section {
    height: 100vh;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
